# Ambiente virtual
venv/
env/
ENV/

# Arquivos Python
_pycache_/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Arquivos de ambiente
.env
.env.local
.env.*.local

# IDEs e editores
.idea/
.vscode/
*.swp
*.swo
.DS_Store